* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body {
	min-height: 100vh;
	background: rgb(128, 174, 233);
	background: radial-gradient(
		circle,
		rgba(128, 174, 233, 1) 0%,
		rgba(82, 146, 229, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
} */

.container {
	height: 50vh;
	width: 50vw;
	/* 	box-shadow: 0 0 15px rgba(128, 174, 233, 1),
		10px 10px 10px rgba(82, 146, 229, 0.5); */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: relative;
	perspective: 1000px;
	transition: 0.5s;
}

.twitter {
	background: #d2d6eb;
	width: 7vw;
	height: 7vw;

	font-size: 4vw;
	display: grid;
	place-items: center;

	position: relative;
	transform-style: preserve-3d;
	transition: 0.5s;
	transform: skewY(10deg);
	z-index: 9;
	box-shadow: 20px 30px 30px 0 #084fb6;

	animation: 1s animate linear infinite;
}

.twitter::before {
	content: "";
	position: absolute;
	background: #ece9eb;
	transition: 0.5s;

	top: -5px;
	left: 0px;
	width: 100%;
	height: 5px;
	transform-origin: bottom;
	transform: skewX(-45deg);
	border-radius: 10px 0px 0 0;
}

.twitter::after {
	content: "";
	position: absolute;
	background: #b5bbd9;
	transition: 0.5s;

	right: -5px;
	top: -5px;
	width: 5px;
	height: 100%;
	transform-origin: right;
	transform: skewY(-45deg);
	border-radius: 0 0 10px 0;
}

.clip:hover .twitter {
	transform: skewY(10deg) translateY(-40px);
	box-shadow: 10px 5px 20px 0 #084fb6;
	animation: none;
}

.front {
	backface-visibility: hidden;
}

.boxShadow {
	width: 7vw;
	height: 3vw;
	background: #d2d6eb;
	position: relative;
	top: -1px;
	transform-style: preserve-3d;
	transition: 0.5s;
	transform: skewY(10deg);
	z-index: 9;
	clip-path: polygon(0 0, 50% 100%, 100% 0);

	box-shadow: 10px 30px 30px 0 #084fb6;
	animation: 1s animate linear infinite;
}

.clip:hover .boxShadow {
	transform: skewY(10deg) translateY(-40px);
	box-shadow: none;
	animation: none;
}

.shadow {
	background: #1887e7;
	width: 12vw;
	height: 12vw;
	border-radius: 50%;
	margin-top: -50px;

	position: relative;
	transform-style: preserve-3d;
	transition: 0.5s;
	transform: rotatex(60deg);
	box-shadow: -2px 5px 1px 1px #2f94fb, 0 3px 0 1px #0263e3;
}

/* @keyframes animate {
	0% {
		transform: rotatey(0deg);
	}
	25% {
		transform: rotatey(180deg);
		box-shadow: -20px 30px 50px 0 #084fb6;
	}
	50% {
		transform: rotatey(360deg);
	}
} */